* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
body {
  background-color: #ccc;
}
.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top:50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
  border-radius: 10px;
}
.form_container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}
.form_control{
  display: flex;
}